@import url('https://fonts.googleapis.com/css?family=Questrial|Crete+Round|Roboto:400,700|Oswald:400,700|Roboto+Slab:400,700|Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Hind|Bree+Serif|Patua+One|Sigmar+One|Rokkitt');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$title-font: 'Montserrat';
$header-font: 'Montserrat';
$body-font: 'Hind';
