-
  var arrProjects = [
    {
      id: 01,
      title: "Kids-A-Lot",
      description: "Used HTML, CSS, and PHP to redesign and modernize Kids-A-Lot's website",
      narrative: "Kids-A-Lot wanted to keep their new website simple, with a welcoming and \"homemade\" feel. I used HTML, CSS, and PHP to redesign and moderize it, as well as illustrating some custom characters for them.",
      thumb: "images/work/kal001.jpg",
      projectURL: "http://www.kidsalot.com",
      images: [
        {
          title: "KAL Header",
          description: "KAL Header",
          imageURL: "images/work/kal001.jpg",
          imageAlt: "Gallery: KAL Header",
          size: "full",
        },
        {
          title: "Character Illustrations",
          description: "Character Illustrations",
          imageURL: "images/work/kal006.jpg",
          imageAlt: "Gallery: Character Illustrations",
          size: "full",
        },
        {
          title: "Program Page - Squires",
          description: "Program Page - Squires",
          imageURL: "images/work/kal003.jpg",
          imageAlt: "Gallery: Program Page - Squires",
          size: "",
        },
        {
          title: "Extras Page",
          description: "Extras Page",
          imageURL: "images/work/kal004.jpg",
          imageAlt: "Gallery: Extras Page",
          size: "",
        },
        {
          title: "For Parents Page",
          description: "For Parents Page",
          imageURL: "images/work/kal005.jpg",
          imageAlt: "Gallery: For Parents Page",
          size: "",
        },
        {
          title: "Programs Page",
          description: "Programs Page",
          imageURL: "images/work/kal002.jpg",
          imageAlt: "Gallery: Programs Page",
          size: "",
        },
      ],
    },
    {
      id: 02,
      title: "Studio S Architecture",
      description: "Used HTML, CSS, and Bootstrap framework to develop an online presence for a new architecture firm",
      narrative: "Studio S Architecture wanted a clean, single page based layout to feature their porfolio of work. I used HTML, CSS, and Bootstrap framework to develop an online presence for their new architecture firm.",
      thumb: "images/work/studios001.jpg",
      projectURL: "http://www.studiosarchitecture.net",
      images: [
        {
          title: "Hero Image",
          description: "Hero Image",
          imageURL: "images/work/studios001.jpg",
          imageAlt: "Gallery: Hero Image",
          size: "full",
        },
        {
          title: "Portfolio",
          description: "Portfolio",
          imageURL: "images/work/studios002.jpg",
          imageAlt: "Gallery: Portfolio",
          size: "",
        },
        {
          title: "About Us",
          description: "About Us",
          imageURL: "images/work/studios003.jpg",
          imageAlt: "Gallery: About Us",
          size: "",
        },
      ],
    },
  ]
