// Template
    {
      id: 03,
      title: "",
      description: "",
      narrative: "",
      thumb: "",
      projectURL: "",
      images: [
        {
          title: "",
          description: "",
          imageURL: "",
          imageAlt: "",
          size: "",
        },
      ],
    }

-
  var arrProjects = [
    {
      id: 05,
      title: "PartyLite",
      description: "A redesign and overhaul of an existing multilingual/multinational training website.",
      narrative: "PartyLite had an existing multilingual/multinational training website that hadn't been updated in several months and needed an update. Content was synced across all locales/languages and the entire site was rearchitected and redesigned. Codebase was reduced by over 50%, and UX was greatly improved with a cleaner design, shorter load times, and reduced user clicks.",
      thumb: cdn_root + "images/work/partylite001.png",
      projectURL: "http://partylite.vo.llnwd.net/o15/u/USOLC/Learning_Center/LC_New/index.html",
      images: [
        {
          title: "Front page",
          description: "Front page, includes hero image carousel and quick link triptych.",
          imageURL: cdn_root + "images/work/partylite002.png",
          imageAlt: " Front Page",
          size: "full",
        },
        {
          title: "",
          description: "",
          imageURL: cdn_root + "images/work/partylite003.png",
          imageAlt: "",
          size: "",
        },
        {
          title: "",
          description: "",
          imageURL: cdn_root + "images/work/partylite004.png",
          imageAlt: "",
          size: "",
        },
        {
          title: "",
          description: "",
          imageURL: cdn_root + "images/work/partylite005.png",
          imageAlt: "",
          size: "full",
        },
      ],
    },
    {
      id: 01,
      title: "Kids-A-Lot",
      description: "Used HTML, CSS, and PHP to redesign and modernize Kids-A-Lot's website",
      narrative: "Kids-A-Lot wanted to keep their new website simple, with a welcoming and \"homemade\" feel. I used HTML, CSS, and PHP to redesign and moderize it, as well as illustrating some custom characters for them.",
      thumb: cdn_root + "images/work/kal001.jpg",
      projectURL: "http://www.kidsalot.com",
      images: [
        {
          title: "KAL Header",
          description: "KAL Header",
          imageURL: cdn_root + "images/work/kal001.jpg",
          imageAlt: "Gallery: KAL Header",
          size: "full",
        },
        {
          title: "Character Illustrations",
          description: "Character Illustrations",
          imageURL: cdn_root + "images/work/kal006.jpg",
          imageAlt: "Gallery: Character Illustrations",
          size: "full",
        },
        {
          title: "Program Page - Squires",
          description: "Program Page - Squires",
          imageURL: cdn_root + "images/work/kal003.jpg",
          imageAlt: "Gallery: Program Page - Squires",
          size: "",
        },
        {
          title: "Extras Page",
          description: "Extras Page",
          imageURL: cdn_root + "images/work/kal004.jpg",
          imageAlt: "Gallery: Extras Page",
          size: "",
        },
        {
          title: "For Parents Page",
          description: "For Parents Page",
          imageURL: cdn_root + "images/work/kal005.jpg",
          imageAlt: "Gallery: For Parents Page",
          size: "",
        },
        {
          title: "Programs Page",
          description: "Programs Page",
          imageURL: cdn_root + "images/work/kal002.jpg",
          imageAlt: "Gallery: Programs Page",
          size: "",
        },
      ],
    },
    {
      id: 02,
      title: "Studio S Architecture",
      description: "Used HTML, CSS, and Bootstrap framework to develop an online presence for a new architecture firm",
      narrative: "Studio S Architecture wanted a clean, single page based layout to feature their porfolio of work. I used HTML, CSS, and Bootstrap framework to develop an online presence for their new architecture firm.",
      thumb: cdn_root + "images/work/studios001.jpg",
      projectURL: "http://www.studiosarchitecture.net",
      images: [
        {
          title: "Hero Image",
          description: "Hero Image",
          imageURL: cdn_root + "images/work/studios001.jpg",
          imageAlt: "Gallery: Hero Image",
          size: "full",
        },
        {
          title: "Portfolio",
          description: "Portfolio",
          imageURL: cdn_root + "images/work/studios002.jpg",
          imageAlt: "Gallery: Portfolio",
          size: "",
        },
        {
          title: "About Us",
          description: "About Us",
          imageURL: cdn_root + "images/work/studios003.jpg",
          imageAlt: "Gallery: About Us",
          size: "",
        },
      ],
    },
    {
      id: 03,
      title: "DRL Architects",
      description: "Designed and developed both front and back-end to DRL's corporate website. Initially using HTML, CSS, MySQL and Coldfusion while later transitioning to PHP and AngularJS (in development)",
      narrative: "Designed and developed both front and back-end to DRL's corporate website. Initially using HTML, CSS, MySQL and Coldfusion while later transitioning to PHP and AngularJS (in development)",
      thumb: cdn_root + "images/work/drl001.jpg",
      projectURL: "http://www.drlarchitects.com/",
      images: [
        {
          title: "Front Page",
          description: "Front Page at drlarchitects.com",
          imageURL: cdn_root + "images/work/drl001.jpg",
          imageAlt: "Front Page",
          size: "full",
        },
        {
          title: "Project Profile",
          description: "Example of a project page",
          imageURL: cdn_root + "images/work/drl002.jpg",
          imageAlt: "Project Profile",
          size: "",
        },
        {
          title: "Sustainability",
          description: "Green/LEED information page",
          imageURL: cdn_root + "images/work/drl003.jpg",
          imageAlt: "Sustainability",
          size: "",
        },
      ],
    },
    {
      id: 04,
      title: "Small Planet Institute",
      description: "Provided front-end design, development, and thematic changes as well as back end adjustments for Small Planet's existing Wordpress application",
      narrative: "Small Planet's editors needed support theming their existing WordPress site. I provided front-end design, development, and thematic changes as well as back end adjustments to their application.",
      thumb: cdn_root + "images/work/smallplanet001.jpg",
      projectURL: "http://smallplanet.org/",
      images: [
        {
          title: "Main Page",
          description: "Main Page",
          imageURL: cdn_root + "images/work/smallplanet001.jpg",
          imageAlt: "Main Page",
          size: "full",
        },
      ],
    }

  ];
