-
  var arrSkills = [
    "HTML5",
    "CSS3",
    "Sass/SCSS",
    "JavaScript",
    "JQuery",
    "Bootstrap",
    "Foundation",
    "LAMP Stack",
    "PHP",
    "Drupal",
    "Wordpress",
    "Hugo",
    "Jade/Pug",
    "Gulp",
    "Grunt",
    "Vagrant",
    "Chef",
    "npm",
    "gem",
    "ColdFusion",
    "Photoshop",
    "Illustrator",
    "InDesign",
    "Typography",
    "UX/UI",
  ];
