-
  var arrSkills = [
    "HTML5",
    "CSS3",
    "Sass/SCSS",
    "JavaScript",
    "TypeScript",
    "JQuery",
    "Angular 2/4",
    "Bootstrap 3/4",
    "Foundation",
    "LAMP Stack",
    "PHP",
    "Drupal",
    "Wordpress",
    "Hugo",
    "Susy",
    "Jade/Pug",
    "Gulp",
    "Grunt",
    "Vagrant",
    "Chef",
    "npm",
    "gem",
    "git/GitHub",
    "ColdFusion",
    "Adobe Photoshop",
    "Adobe Illustrator",
    "Adobe InDesign",
    "Adobe XD (Experience Design)",
    "Adobe After Effects",
    "Typography",
    "UX/UI",
    "Accessibility",
  ];
