-
  var arrSocial = [
    {
      name: "Resume",
      url: "resume.pdf",
      faIcon: "fa-file-text-o",
    },
    {
      name: "LinkedIn",
      url: "https://www.linkedin.com/in/timothywharrison",
      faIcon: "fa-linkedin",
    },
    {
      name: "GitHub",
      url: "https://github.com/gulrenor",
      faIcon: "fa-github",
    },
    {
      name: "Behance",
      url: "https://www.behance.net/gulrenor",
      faIcon: "fa-behance-square",
    },
    {
      name: "Twitter",
      url: "https://twitter.com/timwharrison",
      faIcon: "fa-twitter",
    },
    {
      name: "Dribbble",
      url: "https://dribbble.com/twharrison",
      faIcon: "fa-dribbble",
    },
    {
      name: "Codepen",
      url: "https://codepen.io/gulrenor/",
      faIcon: "fa-codepen",
    }
  ]
