@import url(https://fonts.googleapis.com/css?family=Questrial|Crete+Round|Roboto:400,700|Oswald:400,700|Roboto+Slab:400,700|Nunito:400,700);
@import url(https://fonts.googleapis.com/css?family=Hind|Bree+Serif|Patua+One|Sigmar+One|Rokkitt);
* {
  box-sizing: border-box; }

html {
  font-size: 16px;
  height: 100%; }

body {
  font-family: "Hind";
  color: #969696;
  background-color: white; }

@media screen and (max-width: 900px) {
  html {
    font-size: 14px; } }
h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: "Montserrat"; }

h1 {
  font-family: "Montserrat";
  font-size: 4rem;
  line-height: 3rem;
  font-weight: 700; }

h2 {
  font-family: "Montserrat";
  font-size: 1.75rem;
  font-weight: 400; }

h3 {
  font-size: 1.25rem;
  font-weight: 400; }

a {
  color: inherit;
  text-decoration: none; }

hr {
  width: 100%;
  border: 0;
  border-bottom: 0.1rem solid; }

figure, figcaption {
  margin: 0;
  padding: 0; }

textarea {
  resize: none; }

img {
  max-width: 100%; }

main {
  width: 80vw;
  margin: 0 auto; }

header {
  position: fixed;
  top: 0;
  height: 8rem;
  width: inherit;
  border-bottom: 0.5rem solid transparent;
  transition: height 0.3s ease; }
  header i {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    background-color: #094b85;
    color: #ffca7e;
    padding: 0.75rem;
    visibility: hidden;
    transition: background-color 0.2s ease; }
    header i:hover {
      background-color: #ff9500; }
  header h1 {
    transition: font-size 0.1s ease; }
  header h2 {
    transition: display 0.1s ease, font-size 0.1s ease; }

nav {
  position: absolute;
  right: 0;
  top: 1.3rem; }

section {
  margin: 2rem auto;
  border-radius: 0.5rem; }

form {
  color: #094b85; }

button {
  border: 0;
  padding: 0.5rem;
  color: #0e6cc1;
  transition: background-color 0.2s ease, color 0.2s ease; }
  button:hover {
    background-color: #ff9500;
    color: white; }

input, textarea {
  padding: 0.5rem;
  border: 0.2vw solid transparent;
  margin-bottom: 1rem; }
  input:focus, textarea:focus {
    border: 0.2vw solid #ff9500; }

.section {
  padding: 1rem 1.5rem; }

#header-dummy {
  height: 8rem; }

.indent {
  margin-left: 0.5rem; }

.right {
  float: right; }

.skill-tag {
  display: inline-block;
  background-color: #ff9500;
  color: white;
  border-radius: 0.125rem;
  padding: 0.125rem 0.5rem;
  margin: 0.25rem 0; }

.portrait {
  position: relative;
  width: 12.5rem;
  max-width: 40vw;
  clear: both;
  border: 0.2rem solid #ffa72a;
  background-color: #ffca7e;
  border-radius: 50%;
  margin: 0.5rem; }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both; }

.dark {
  background-color: #094b85;
  color: #80bbf0; }
  .dark h1 {
    color: #ffca7e; }
  .dark h2, .dark h3, .dark h4 {
    color: #ffca7e; }

.light {
  background-color: white;
  color: #0e6cc1; }
  .light h1 {
    color: #094b85; }
  .light h2, .light h3, .light h4 {
    color: #ff9500; }

header .title {
  font-family: "Montserrat";
  font-size: 3rem; }

header .subtitle {
  font-family: "Hind";
  font-size: 1.7rem; }

.anchor {
  position: relative;
  top: -4.2rem; }

.shadow {
  position: fixed;
  width: 100%;
  height: 1rem;
  top: 5rem;
  left: 0;
  background: -moz-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  display: none; }

.sticky {
  position: fixed;
  z-index: 999;
  width: 80vw;
  top: 0;
  height: 5rem;
  border-bottom: 0.2rem solid #0e6cc1;
  transition: height 0.2s ease, border-bottom 0.2s ease; }
  .sticky h1 {
    display: inline-block;
    color: #094b85;
    font-size: 2rem;
    transition: font-size 0.2s ease; }
  .sticky h2 {
    display: inline-block;
    font-size: 1.2rem;
    transition: display 0.2s ease, font-size 0.2s ease; }
  .sticky nav {
    top: 0; }

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  font-family: "Montserrat";
  font-size: 1.1rem; }
  .nav-menu li {
    background-color: none;
    color: inherit;
    padding: 0.5rem;
    margin: 0 0.5rem;
    transition: background-color 0.5s ease, color 0.5s ease; }
    .nav-menu li:hover {
      background-color: #ff9500;
      color: gainsboro;
      cursor: pointer; }

.shade, .col2, .col-3, .col-4 {
  background-color: rgba(0, 0, 0, 0.3); }

.col2, .col-3, .col-4 {
  padding: 1rem; }

.col-2 {
  width: 48%; }

.col-3 {
  width: 28%; }

.col-4 {
  width: 23%; }

#skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  width: 100%; }

.bullets {
  list-style: disc; }

.gallery {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; }

.gallery-item {
  position: relative;
  justify-content: space-between;
  width: 48%;
  height: 14rem;
  border: 0.1rem solid #ff9500;
  overflow: hidden;
  margin-bottom: 1rem;
  cursor: pointer; }
  .gallery-item > * {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    height: 100%; }
  .gallery-item img {
    object-fit: cover; }
  .gallery-item div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    padding: 1rem;
    background-color: #ff9500;
    transition: opacity 0.2s ease; }
  .gallery-item div > * {
    color: white;
    text-align: center; }
  .gallery-item:hover > div {
    opacity: 0.9; }

.gallery-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9998; }
  .gallery-modal > div {
    position: relative;
    background-color: white;
    width: 80%;
    top: 10%;
    height: 80%;
    padding: 1rem;
    min-height: 80vh;
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: hidden;
    pointer-events: auto; }

.gallery-image-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .gallery-image-container img {
    max-width: 100%;
    width: 40%;
    height: 40%;
    margin: 2rem;
    border: 0.1rem solid #094b85;
    box-shadow: 0.5rem 0.5rem 0.5rem #80bbf0; }

.gallery-item-close {
  position: fixed;
  top: 10%;
  right: 10%;
  padding: 1rem;
  z-index: 9999;
  cursor: pointer;
  transition: color 0.5s ease; }
  .gallery-item-close:hover {
    color: #ff9500; }

.contact-form-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem 0; }
  .contact-form-container #contact-form {
    width: 75%; }
  .contact-form-container #social-buttons-container {
    width: 25%; }

#contact-form {
  display: inherit;
  flex-wrap: wrap;
  justify-content: inherit; }
  #contact-form > div {
    width: 48%;
    display: flex;
    flex-direction: column; }
  #contact-form input {
    height: 4rem; }
  #contact-form textarea {
    height: 9rem; }
  #contact-form button {
    width: 100%;
    align-self: center; }

#social-buttons-container {
  padding: 0 2rem; }
  #social-buttons-container > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: color 0.2s ease-in-out; }
    #social-buttons-container > a:hover {
      color: #ff9500; }
    #social-buttons-container > a i {
      margin: 0 0.5rem; }

footer {
  min-height: 20vw;
  text-align: right;
  font-size: 0.8rem; }

@media screen and (max-width: 760px) {
  main {
    width: 100%;
    margin: 0;
    padding: 0; }

  h1 {
    font-size: 3rem; }

  h2 {
    font-size: 1.5rem; }

  header {
    height: 8rem;
    position: fixed;
    border: inherit; }
    header i {
      visibility: visible; }

  section {
    margin: inherit 0;
    border-radius: 0; }

  .indent {
    margin-left: 0; }

  .section {
    width: 100%;
    margin: 0;
    padding: 1rem; }

  #nav {
    display: none;
    position: relative;
    width: 100vw;
    margin: -1rem;
    padding: 0;
    background-color: white;
    z-index: 9999; }

  .shadow {
    display: none; }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    font-family: "Montserrat";
    font-size: 1.1rem;
    margin: 0;
    padding: 0; }
    .nav-menu li {
      text-align: center;
      padding: 0.5rem;
      margin: 0;
      border-bottom: 0.1rem solid gainsboro;
      background-color: #ff9500;
      color: gainsboro;
      transition: color 0.5s ease; }
      .nav-menu li:hover {
        color: white;
        cursor: pointer; }

  .gallery-item {
    width: 100%;
    height: 10rem; }
    .gallery-item img {
      object-position: 0 0; }

  .gallery-modal > div {
    width: 90%;
    height: 95%;
    top: 2.5%; }

  .gallery-image-container img {
    width: 100%;
    height: 100%; } }
@media screen and (max-width: 360px) {
  header, #header-dummy {
    height: 4rem; }

  header .title {
    font-size: 2rem; }

  header .subtitle {
    font-size: 1.3rem; } }
@media screen and (max-width: 260px) {
  header, #header-dummy {
    height: 2.5rem; }

  header .title {
    font-size: 1.5rem; }

  header .subtitle {
    display: none; } }

/*# sourceMappingURL=default.css.map */
