@import url(https://fonts.googleapis.com/css?family=Questrial|Crete+Round|Roboto:400,700|Oswald:400,700|Roboto+Slab:400,700|Nunito:400,700);
* {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  font-family: "Roboto Slab";
  color: #969696;
  background-color: white; }

@media screen and (max-width: 900px) {
  html {
    font-size: 14px; } }
h1, h2, h3 {
  margin: 0;
  padding: 0; }

h1 {
  font-family: "Roboto";
  font-size: 4rem;
  line-height: 3rem; }

h2 {
  font-family: "Roboto";
  font-size: 2rem; }

h3 {
  font-size: 1.5rem; }

a {
  color: inherit;
  text-decoration: none; }

figure, figcaption {
  margin: 0;
  padding: 0; }

textarea {
  resize: none; }

img {
  max-width: 100%; }

main {
  width: 80vw;
  margin: 0 auto; }

header {
  position: fixed;
  top: 0;
  height: 8rem; }
  header i {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    background-color: #323232;
    color: gainsboro;
    padding: 0.75rem;
    visibility: hidden;
    transition: background-color 0.2s ease; }
    header i:hover {
      background-color: #3264c8; }

nav {
  position: absolute;
  right: 0;
  top: 1.3rem; }

section {
  margin: 2rem auto; }

.section {
  padding: 1rem;
  position: relative; }

.indent {
  margin-left: 0.5rem; }

.right {
  float: right; }

.portrait {
  width: 12.5rem;
  position: relative;
  top: -4rem; }

.dark {
  background-color: #323232;
  color: #969696; }
  .dark h1 {
    color: gainsboro; }
  .dark h2 {
    color: #c8c8c8; }

.light {
  background-color: white;
  color: #3c3c3c; }
  .light h1 {
    color: #1e1e1e; }
  .light h2 {
    color: #505050; }

.anchor {
  position: relative;
  top: -4.2rem; }

.shadow {
  position: fixed;
  width: 100%;
  height: 1rem;
  top: 5rem;
  left: 0;
  background: -moz-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  display: none; }

.sticky {
  position: fixed;
  width: 80vw;
  top: 0;
  height: 5rem;
  background-color: white;
  color: #3c3c3c;
  z-index: 999;
  border-bottom: 0.25rem solid #1e1e1e; }
  .sticky h1 {
    display: inline-block;
    color: #1e1e1e;
    font-size: 2rem; }
  .sticky h2 {
    display: inline-block;
    font-size: 1.2rem; }
  .sticky nav {
    top: 0; }
  .sticky .shadow {
    display: inherit; }

.horizontal-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  font-family: "Roboto";
  font-size: 1.1rem; }
  .horizontal-menu li {
    background-color: none;
    color: inherit;
    padding: 0.5rem;
    margin: 0 0.5rem;
    transition: background-color 0.5s ease, color 0.5s ease; }
    .horizontal-menu li:hover {
      background-color: #3264c8;
      color: gainsboro;
      cursor: pointer; }

.gallery {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; }

.gallery-item {
  position: relative;
  justify-content: center;
  width: 24rem;
  height: 14rem;
  border: 0.1rem solid black;
  overflow: hidden;
  margin-bottom: 1rem;
  cursor: pointer; }
  .gallery-item > * {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    height: 100%; }
  .gallery-item img {
    object-fit: cover; }
  .gallery-item div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    padding: 1rem;
    background-color: #3264c8;
    transition: opacity 0.2s ease; }
  .gallery-item div > * {
    color: white;
    text-align: center; }
  .gallery-item:hover > div {
    opacity: 0.9; }

.gallery-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9998; }
  .gallery-modal > div {
    position: relative;
    background-color: white;
    width: 80%;
    top: 10%;
    height: 80%;
    padding: 1rem;
    min-height: 80vh;
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: hidden;
    pointer-events: auto; }

.gallery-image-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .gallery-image-container img {
    max-width: 100%;
    width: 40%;
    height: 40%;
    margin: 2rem;
    border: 0.1rem solid #323232;
    box-shadow: 0.5rem 0.5rem 0.5rem #969696; }

.gallery-item-close {
  position: fixed;
  top: 10%;
  right: 10%;
  padding: 1rem;
  z-index: 9999;
  cursor: pointer;
  transition: color 0.5s ease; }
  .gallery-item-close:hover {
    color: #3264c8; }

.contact-form-container {
  display: flex;
  flex-direction: row; }
  .contact-form-container div {
    width: 50%; }
  .contact-form-container:nth-child(2) i {
    margin: 0.5rem 1.5rem; }

#contact-form {
  display: flex;
  flex-direction: column; }
  #contact-form > * {
    margin: 0.5rem; }
  #contact-form input, #contact-form textarea {
    padding: 0.5rem;
    border: 0.2vw solid transparent; }
    #contact-form input:focus, #contact-form textarea:focus {
      border: 0.2vw solid #3264c8; }
  #contact-form button {
    width: 40%;
    border: 0;
    padding: 0.5rem;
    color: #3c3c3c;
    transition: background-color 0.2s ease, color 0.2s ease;
    align-self: center; }
    #contact-form button:hover {
      background-color: #3264c8;
      color: white; }

footer {
  min-height: 20vw;
  text-align: right;
  font-size: 0.8rem; }

@media screen and (max-width: 760px) {
  main {
    width: 100%;
    margin: 0;
    padding: 0; }

  h1 {
    font-size: 3rem; }

  h2 {
    font-size: 1.5rem; }

  header {
    height: 8rem;
    position: fixed; }
    header i {
      visibility: visible; }

  section {
    margin: inherit 0; }

  .indent {
    margin-left: 0; }

  nav {
    display: none;
    position: fixed;
    top: 8rem;
    left: 0;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: white;
    z-index: 9999; }

  .section {
    width: 100%;
    margin: 0;
    padding: 1rem; }

  .shadow {
    display: none; }

  .horizontal-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    font-family: "Roboto";
    font-size: 1.1rem;
    padding: 0; }
    .horizontal-menu li {
      text-align: center;
      padding: 0.5rem;
      margin: 0;
      border-bottom: 0.1rem solid #505050;
      background-color: none;
      color: inherit;
      transition: background-color 0.5s ease, color 0.5s ease; }
      .horizontal-menu li:hover {
        background-color: #3264c8;
        color: gainsboro;
        cursor: pointer; }

  .gallery-item {
    width: 100%;
    height: 10rem; }
    .gallery-item img {
      object-position: 0 0; }

  .gallery-modal > div {
    width: 90%;
    height: 95%;
    top: 2.5%; }

  .gallery-image-container img {
    width: 100%;
    height: 100%; } }

/*# sourceMappingURL=default.css.map */
